<a href="https://colab.research.google.com/github/Coluno/introdu-o_pandas/blob/main/Exercicio_Data_rangling_pandas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PARTE 1**

Irei utilizar o pacote Python `beautifulsoup4` para extrair todas as 100 empresas do arquivo `fortune.html`. Salvar os dados extraidos no arquivo `fortune.csv` separado por `;`.

# Primeiro iremos carregar o conteudo

In [3]:
from bs4 import BeautifulSoup
import csv

#carregando conteudo
with open ('fortune.html', 'r',encoding= 'utf-8') as arquivo:
  conteudo = arquivo.read()

#criando um objeto BeautfulSoup
soup = BeautifulSoup(conteudo, 'html.parser')

# Obtendo as linhas da tabela
tabela = soup.find('div', {'class': 'rt-table'})
linhas = tabela.find('div', {'class': 'rt-tbody'})

# **Criando um arquivo CSV**

In [4]:
# Construindo o cabeçalho
header = ['rank','name','revenues','revenues-percent-change','profits','profits-percent-change','assets','market-value','employees']

with open('fortune.csv','w',newline='', encoding='utf-8') as csvfile:
  csvwriter = csv.writer(csvfile, delimiter=';')
  csvwriter.writerow(header)
  for linha in linhas:
    #Obtendo os dados de cada célula na linha
    colunas = linha.find_all('div',{'role':'gridcell'})
    data = [col.get_text(strip=True) for col in colunas]
    csvwriter.writerow(data)

# **PARTE 2**

**2.1** Criando o DataFrame Pandas na variável `fortune_df` através da leitura do arquivo `fortune.csv`

In [5]:
import pandas as pd

# Lendo o arquivo CSV e criando o DataFrame
fortune_df = pd.read_csv('fortune.csv', delimiter=';')

# Exibindo as primeiras linhas do DataFrame (opcional)
print(fortune_df.head())

   rank                name  revenues revenues-percent-change  profits  \
0     1             Walmart  $559,151                    6.7%  $13,510
1     2              Amazon  $386,064                   37.6%  $21,331
2     3               Apple  $274,515                    5.5%  $57,411
3     4          CVS Health  $268,706                    4.6%   $7,179
4     5  UnitedHealth Group  $257,141                    6.2%  $15,403

  profits-percent-change    assets  market-value  employees
0                  -9.2%  $252,496    $382,642.8  2,300,000
1                  84.1%  $321,195  $1,558,069.6  1,298,000
2                   3.9%  $323,888  $2,050,665.9    147,000
3                   8.2%  $230,715     $98,653.2    256,500
4                  11.3%  $197,289      $351,725    330,000

**2.2.** Explorando o DataFrame

 - Liste as 10 primeiras linhas do dataframe:

In [ ]:
print(fortune_df.head(10))

   rank                name    revenues revenues-percent-change    profits  \
0     1             Walmart    $559,151                    6.7%    $13,510
1     2              Amazon    $386,064                   37.6%    $21,331
2     3               Apple    $274,515                    5.5%    $57,411
3     4          CVS Health    $268,706                    4.6%     $7,179
4     5  UnitedHealth Group    $257,141                    6.2%    $15,403
5     6  Berkshire Hathaway    $245,510                   -3.6%    $42,521
6     7            McKesson    $231,051                    7.8%       $900
7     8   AmerisourceBergen  $189,893.9                    5.7%  $-3,408.7
8     9            Alphabet    $182,527                   12.8%    $40,269
9    10         Exxon Mobil    $181,502                  -31.5%   $-22,440

  profits-percent-change     assets  market-value  employees
0                  -9.2%   $252,496    $382,642.8  2,300,000
1                  84.1%   $321,195  $1,558,069.6  1,298,000
2                   3.9%   $323,888  $2,050,665.9    147,000
3                   8.2%   $230,715     $98,653.2    256,500
4                  11.3%   $197,289      $351,725    330,000
5                 -47.8%   $873,729      $587,823    360,000
6                2547.1%    $61,247       $31,044     70,000
7                -498.5%  $44,274.8     $24,169.7     21,500
8                  17.3%   $319,616  $1,392,561.8    135,301
9                -256.5%   $332,750    $236,355.4     72,000

 - Liste os tipos de dados armazenados na coluna do dataframe:

In [ ]:
print(fortune_df.dtypes)

rank                        int64
name                       object
revenues                   object
revenues-percent-change    object
profits                    object
profits-percent-change     object
assets                     object
market-value               object
employees                  object
dtype: object

 - Liste o numero de linhas e colunas do dataframe:

In [ ]:
fortune_df.shape

(100, 9)

# **2.3**. Limpando o DataFrame

Grande parte das colunas numéricas (exceto a coluna `ranking` e `employees`) possuem o caracter `$` ou `%` que as classificam com o tipo `object` (ou `str` do Python) ao invés do tipo correto como `int` ou `float`. Removendo os caracteres das linhas das colunas numéricas.

In [6]:
# Lista de colunas numéricas que precisam ter os caracteres removidos
colunas_numericas = ['name','revenues','revenues-percent-change','profits','profits-percent-change','assets','market-value']

# Aplicando a transformação usando apply e  lambda
for coluna in colunas_numericas:
    fortune_df[coluna] = fortune_df[coluna].apply(lambda item: item.strip('$%'))

# Exibindo as 10 primeiras linhas do DataFrame atualizado
print(fortune_df.head(10))

   rank                name   revenues revenues-percent-change   profits  \
0     1             Walmart    559,151                     6.7    13,510
1     2              Amazon    386,064                    37.6    21,331
2     3               Apple    274,515                     5.5    57,411
3     4          CVS Health    268,706                     4.6     7,179
4     5  UnitedHealth Group    257,141                     6.2    15,403
5     6  Berkshire Hathaway    245,510                    -3.6    42,521
6     7            McKesson    231,051                     7.8       900
7     8   AmerisourceBergen  189,893.9                     5.7  -3,408.7
8     9            Alphabet    182,527                    12.8    40,269
9    10         Exxon Mobil    181,502                   -31.5   -22,440

  profits-percent-change    assets market-value  employees
0                   -9.2   252,496    382,642.8  2,300,000
1                   84.1   321,195  1,558,069.6  1,298,000
2                    3.9   323,888  2,050,665.9    147,000
3                    8.2   230,715     98,653.2    256,500
4                   11.3   197,289      351,725    330,000
5                  -47.8   873,729      587,823    360,000
6                 2547.1    61,247       31,044     70,000
7                 -498.5  44,274.8     24,169.7     21,500
8                   17.3   319,616  1,392,561.8    135,301
9                 -256.5   332,750    236,355.4     72,000

### **2.4. Salvando o DataFrame**

Utilizei o método `to_csv` para salvar o dataframe `fortune_df` no arquivo `fortune-limpo.csv`.

In [7]:
# Salvando o DataFrame em um arquivo CSV
fortune_df.to_csv('fortune-limpo.csv', index=False, sep=';')



---



---

# Explicação do codigo para mim mesmo e para qualquer outra pessoa lendo isso PARTE 1✊

Imagine que você tem uma página da web com uma tabela de informações sobre empresas. Queremos usar um programa em Python para pegar essas informações e armazená-las em um formato mais fácil de trabalhar, como um arquivo CSV.
para isso vc precisa:
1. **Importa as Bibliotecas:**
```python
   from bs4 import BeautifulSoup
   import csv

2. **Ler o Conteúdo HTML:**
```python
   with open('fortune.html', 'r', encoding='utf-8') as file:
       content = file.read()

3. **Criar um Objeto BeautifulSoup:**
```python
   soup = BeautifulSoup(content, 'html.parser')

**obs**: Criamos um objeto chamado `soup` usando BeautifulSoup. Isso nos ajuda a navegar e extrair informações do HTML de maneira fácil.

4. **Encontrar Elementos na Página:**
```python
tabela = soup.find('div', {'class': 'rt-table'})
linhas = tabela.find('div', {'class': 'rt-tbody'})

**obs**:Aqui, procuramos por elementos `<div>` com classes específicas que indicam onde estão as informações da tabela. Isso é como dizer: "Vá até o pedaço da página que contém a tabela e depois encontre todas as linhas nessa tabela."

5. **Escrevendo em um Arquivo CSV:**
   ```python
   header = ['rank', 'name', 'revenues', 'revenues-percent-change', 'profits', 'profits-percent-change', 'assets', 'market-value', 'employees']
   with open('fortune.csv', 'w', newline='', encoding='utf-8') as csvfile:
       csvwriter = csv.writer(csvfile, delimiter=';')
       csvwriter.writerow(header)
       for linha in linhas:
           colunas = linha.find_all('div', {'role': 'gridcell'})
           data = [col.get_text(strip=True) for col in colunas]
           csvwriter.writerow(data)
   ```
**obs:** Agora, escrevemos essas informações em um arquivo CSV chamado 'fortune.csv'. O `header` é a primeira linha, e depois adicionamos cada linha da tabela.



---



---